{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace ts=TYPO3\TypoScript\ViewHelpers}
<article itemscope="" itemtype="http://schema.org/Article" class="robertlemke-plugin-blog" xmlns:f="http://www.w3.org/1999/html">
	<f:flashMessages class="flashmessages" />
	<header>
		<neos:contentElement node="{node}">
			<h1 itemprop="name headline"><neos:contentElement.editable property="title">{title}</neos:contentElement.editable></h1>
		</neos:contentElement>
		<div class="byline">
			Publié le
			<time datetime="{f:format.date(date: node.properties.datePublished, format: 'c')}" itemprop="datePublished"><f:format.date forceLocale="fr" localeFormatType="date">{node.properties.datePublished}</f:format.date></time>
			par
			<span itemprop="author" itemscope="" itemtype="http://schema.org/Person"><span itemprop="name">{node.properties.author}</span></span>
		</div><br />
	</header>
	<div itemprop="articleBody">
		<ts:render path="main" />
	</div>
	<hr />
	<div id="comments" class="comments">
		<f:if condition="{numberOfComments}">
			<h3><f:translate package="RobertLemke.Plugin.Blog">Comments</f:translate></h3>
			<div class="commentlist">
				<ts:render path="comments" />
			</div>
			<div class="clear"></div>
		</f:if>
		<h3><f:translate package="RobertLemke.Plugin.Blog">Leave a reply</f:translate></h3>
		<f:render partial="FormErrors" arguments="{for: 'newComment'}" />
		<f:form action="create" controller="Comment" package="RobertLemke.Plugin.Blog" object="{newComment}" name="newComment" class="newcomment">
			<f:form.hidden name="postNode" value="{node.path}" />
			<label for="comment.author"><f:translate package="RobertLemke.Plugin.Blog">Name <span class="required">*</span></f:translate></label>
			<f:form.textfield id="comment.author" property="author" />
			<label for="comment.emailaddress"><f:translate package="RobertLemke.Plugin.Blog">Email <span class="required">*</span> (won't be displayed)</f:translate></label>
			<f:form.textfield id="comment.emailaddress" property="emailAddress" />
			<f:form.textarea id="comment.text" property="text" rows="10" cols="50"/>
			<f:form.submit value="{f:translate(value: 'Submit', package: 'TYPO3.Flow')}" class="secondary button" />
		</f:form>
	</div>
</article>