.robertlemke-plugin-blog {
  /*--------------- pagination ------------------*/
  /*--------------- form validation ------------------*/ }
  .robertlemke-plugin-blog .metadata {
    font-size: 0.8em; }
  .robertlemke-plugin-blog li.post, .robertlemke-plugin-blog li.comment {
    list-style-type: none;
    list-style-image: none; }
  .robertlemke-plugin-blog ul.relatedpostslist {
    clear: both;
    margin-top: 8px;
    margin-bottom: 10px;
    padding: 8px; }
  .robertlemke-plugin-blog ul.relatedpostslist li {
    list-style-type: square;
    margin-left: 15px; }
  .robertlemke-plugin-blog ol.commentlist {
    clear: both;
    margin-bottom: 10px; }
  .robertlemke-plugin-blog li.comment {
    clear: both; }
  .robertlemke-plugin-blog li.spamcomment {
    background-color: #efd3d5; }
  .robertlemke-plugin-blog li.comment p.metadata {
    margin: 10px 0 0 82px; }
  .robertlemke-plugin-blog li.comment p.content {
    padding: 8px;
    margin: 0;
    margin-left: 75px;
    min-height: 85px;
    font-size: 15px; }
  .robertlemke-plugin-blog .comment img.gravatar {
    border-radius: 50% 50% 50% 50%;
    float: left;
    margin: -25px 10px;
    width: 60px;
    height: 60px; }
  .robertlemke-plugin-blog ul.typo3-widget-paginator {
    list-style-type: none; }
  .robertlemke-plugin-blog ul.typo3-widget-paginator li {
    display: block;
    float: left;
    padding: 4px 6px;
    margin: 4px; }
  .robertlemke-plugin-blog input.typo3-form-error {
    border: 1px solid #8a1f11; }
  .robertlemke-plugin-blog .errors {
    padding: .8em;
    margin-bottom: 1em;
    border: 1px solid #FBC2C4; }
  .robertlemke-plugin-blog .errors dt {
    float: left;
    color: #8a1f11;
    width: 100px;
    font-weight: bold; }
  .robertlemke-plugin-blog .errors dd {
    margin-left: 100px;
    color: #8a1f11; }
  .robertlemke-plugin-blog .error, .robertlemke-plugin-blog .f3-form-error {
    background: #FBE3E4;
    border-color: #FBC2C4; }
  .robertlemke-plugin-blog .error {
    color: #8a1f11; }
  .robertlemke-plugin-blog .notice {
    background: #FFF6BF;
    color: #514721;
    border-color: #FFD324; }
  .robertlemke-plugin-blog .success {
    background: #E6EFC2;
    color: #264409;
    border-color: #C6D880; }
  .robertlemke-plugin-blog .error a {
    color: #8a1f11; }
  .robertlemke-plugin-blog .notice a {
    color: #514721; }
  .robertlemke-plugin-blog .success a {
    color: #264409; }
  .robertlemke-plugin-blog .required {
    color: #8a1f11; }
