
/*---------------------------------------------------------
Cascading Style Sheets for the FLOW3 blog example
-----------------------------------------------------------*/
* {
	margin:0;
	padding:0;
}

body {
	background: #e9e9e9 none repeat scroll 0 0;
	color: #515151;
	padding: 0;
	margin: 0;
	min-width: 764px;
	font-family: Arial, Verdana, sans-serif;
	font-size: 13px;
	font-size-adjust: none;
	font-variant: normal;
	font-weight: normal;
	line-height: normal;
	text-align: center;
	font-stretch: normal;
	font-style: normal;
}

img {
	border: none;
}

h1, h2 {
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-weight: normal;
	letter-spacing: -1px;
	color: #282828;
}

h3 {
	font-size: 15px;
	font-weight: normal;
	color: #282828;
	margin: 12px 0 12px 0;
	padding: 0;
}

h2.flow3-firstHeader {
	font-size: 25px;
	color: #700016;
	margin: 0 0 26px 0;
	font-weight: normal;
}

input, select, option, textarea {
	font-size: 13px;
}

p {
	font-size: 13px;
	line-height: 18px;
	margin: 10px 0 16px 0;
}

a, a:visited {
	color: #700016;
	text-decoration: none;
}
a:hover {
	color: #e56508;
}

div, ol, li, li, img, form, select, input, table {
	margin: 0;
	padding: 0;
}

th, td {
	margin: 0;
	padding:  2px;
	font-size: 12px;
	text-align: left;
	vertical-align: top;
	border-top: 1px solid #dddddd;
	line-height: 16px;
}

ul li {
	margin-left: 18px;
	list-style-type: square;
	line-height: 18px;
}


form li {
	display: inline;
	float: left;
	margin: 10px 10px 0 0;
	padding: 0;
}

form input {
	clear: both;
	border: 1px solid #dddddd;
	height: 20px;
	width: 220px;
}

form input[type=submit] {
	width: auto;
	height: auto;
	padding: 4px;
	font-weight: bold;
}

form textarea {
	border: 1px solid #dddddd;
	width: 460px;
}

form select {
	border: 1px solid #dddddd;
	width: 460px;
}

#header {
	width: 640px;
	height: 100px;
	background: #99011E none repeat scroll 0 0;
	color: white;
	border: 1px solid #dddddd;
	border-bottom: 1px solid #700016;
	margin: 0 auto;
	padding: 50px;
	text-align:left;
}

#header h1, #header h3 {
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size: 30px;
	letter-spacing: -1px;
	padding-top: 50px;
}

#header h1 a, #header h3 a {
	color: white;
	text-decoration: none;
}

#header h2.description {
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 18px;
    margin: 10px 0 16px 0;
	color: #e56508;
}

#maincontainer {
	width: 640px;
	background: white none repeat scroll 0 0;
	border: 1px solid #dddddd;
	margin: 0 auto;
	padding: 20px 50px 40px 50px;
	text-align:left;
	position: relative;
	min-height: 300px;
}

#mainbox {
	width: 460px;
	float: left;
	position: relative;
}

li.post, li.comment {
	list-style-type: none;
	list-style-image: none;
}

li.post p.metadata {
	font-size: 11px;
	color: #8c8c8c;
	margin: 0;
}

ul.relatedpostslist {
	clear: both;
	margin-top: 8px;
	margin-bottom: 10px;
	background-color: #efefef;
	padding: 8px;
}

ul.relatedpostslist li {
	list-style-type:square;
	margin-left:15px;
}

ol.commentlist {
	clear: both;
	margin-bottom: 10px;
}

li.comment {
	clear: both;
	background-color: #efefef;
}

li.spamcomment {
	background-color: #efd3d5;
}

li.comment p.metadata {
	background-color: #d7d7d7;
	border-bottom: 1px solid #999999;
	padding: 1px 8px;
	margin: 10px 0 0 0;
}

li.comment p.content {
	padding: 8px;
	margin: 0;
	margin-left:80px;
	min-height: 73px;
}

.comment img.gravatar {
	float: left;
	margin: 4px 10px 4px 0;
}

#navigation {
	width: 100%;
	margin-bottom: 10px;
}

#navigation .next {
	float: right;
}

#sidebox {
	width: 160px;
	float: left;
	position: relative;
	padding: 0 0 0 20px;
	font-size: 11px;
}

#sidebox .feed-button {
	float: right;
	position: relative;
	left: 30px;
}

#sidebox h3 {
	padding-top: 10px;
	border-top: 1px solid #eeeeee;
}

#sidebox ul li {
	list-style-image: none;
	list-style-type: none;
	margin-bottom: 10px;
	margin-top: 10px;
}

#sidebox .blurb {
	padding-bottom: 10px;
}

#sidebox .blurb img {
	max-width: 48px;
	float: left;
	margin: 0 8px 20px 0;
}

#tweet-time {
	font-size: 11px;
}

#tweet-status {
	font-size: 11px;
	font-style: italic;
}

.clear {
	clear: both;
	margin: 0;
	padding: 0;
}

#footer {
	width: 730px;
	font-size: 11px;
	text-align: right;
	color: #282828;
	clear: both;
	margin: 0 auto;
	padding: 10px 0 20px 0;
}

#footer a, #footer a:visited{
	color: #282828;
	font-weight: bold;
}

fieldset { border: none; padding: 0; margin: 0;}

.flashmessages {
	background: #FFFFAA;
	border: 1px solid #D6D680;
	color: #757553;
	font-weight: bold;
	margin-bottom: 20px;
	padding: 10px;
}
.flashmessages li {
	margin: 0;
	list-style: none;
}

/*--------------- pagination ------------------*/

ul.typo3-widget-paginator {
    list-style-type: none;
}

ul.typo3-widget-paginator li {
    display: block;
    float:left;
    padding: 4px 6px;
    margin: 4px;
    border: solid 1px #ccc;
}

/*--------------- form validation ------------------*/

input.typo3-form-error {
	border: 1px solid #8a1f11;
}

.errors {
	padding: .8em;
	margin-bottom:1em;
	border: 1px solid #FBC2C4;
}
.errors dt {
	float: left;
	color:#8a1f11;
	width: 100px;
	font-weight: bold;
}
.errors dd {
	margin-left: 100px;
	color:#8a1f11;
}

.error, .f3-form-error {
	background:#FBE3E4;
	border-color:#FBC2C4;
}
.error {
	color:#8a1f11;
}
.notice {
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}
.success {
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}
.error a {
	color:#8a1f11;
}
.notice a {
	color:#514721;
}
.success a {
	color:#264409;
}

.required {
	color:#8a1f11;
}
