<f:layout name="Master" />

<f:section name="mainbox">
	<h2 class="flow3-firstHeader"><f:translate>Administration</f:translate></h2>
	<f:flashMessages class="flashmessages"/>
	<ul>
		<li><f:link.action action="new" controller="Post"><f:translate>Create a new post</f:translate></f:link.action></li>
		<li><f:link.action action="edit" controller="Blog"><f:translate>Edit blog properties</f:translate></f:link.action></li>
		<li><f:link.action action="index" controller="Category"><f:translate>Manage categories</f:translate></f:link.action></li>
		<li><f:link.action action="edit" controller="Account"><f:translate>Edit account</f:translate></f:link.action></li>
		<li><f:link.action action="logout" controller="Login"><f:translate package="TYPO3.FLOW3">Logout</f:translate></f:link.action></li>
	</ul>
</f:section>