<p class="metadata">
    <f:translate arguments="{0: post.date}" package="RobertLemke.Plugin.Blog"><![CDATA[Published on {0,datetime}]]></f:translate>
    <br/>
    <f:if condition="{post.category}">
        <f:translate package="RobertLemke.Plugin.Blog">Filed under:</f:translate>
        <f:link.action action="index" arguments="{category: post.category}" controller="Post" format="html">{post.category.name}</f:link.action>
    </f:if>
    <f:if condition="{post.tags}">
        |
        <f:translate>Tags:</f:translate>
        <f:for as="tag" each="{post.tags}">
            <f:link.action action="index" arguments="{tag: tag}" controller="Post">{tag.name}</f:link.action>
        </f:for>
    </f:if>
</p>
