{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace ts=TYPO3\TypoScript\ViewHelpers}
{namespace blog=RobertLemke\Plugin\Blog\ViewHelpers}
<f:if condition="{spam} != {true}">
	<li class="comment">
		<p class="metadata">
		<strong>{author}</strong> | <f:format.date format='d.m.Y'>{datePublished}</f:format.date>
		</p>
		<blog:gravatar email="{emailAddress}" default="{f:uri.resource(package:'RobertLemke.Plugin.Blog', path:'Icons/GravatarDefault.png')}" size="60" class="gravatar" />
		<neos:contentElement node="{node}">
			<p class="content"><neos:contentElement.editable property="text" tag="span">{text -> f:format.nl2br()}</neos:contentElement.editable></p>
		</neos:contentElement>
	</li>
</f:if>
