{namespace neos=Neos\Neos\ViewHelpers}
{namespace fusion=Neos\Fusion\ViewHelpers}
<script src="../../../Public/JavaScript/jquery-1.10.2.min.js"></script>
<script>
    $(function () {
        $('#newCommentForm').submit(function (event) {
            var form = $(this);
            $.ajax({
                type: form.attr('method'),
                url: form.attr('action'),
                data: form.serialize()
            }).done(function (result) {
                alert(result);
                location.reload(true);
            }).fail(function (result) {
                alert(result.responseText.substring(4));
            });
            event.preventDefault();
        });
    });
</script>
<article itemscope="" itemtype="http://schema.org/Article" class="robertlemke-plugin-blog" xmlns:f="http://www.w3.org/1999/html">
    <f:flashMessages class="flashmessages"/>
    <header>
        <h1 itemprop="name headline">
            <neos:contentElement.editable tag="span" property="title">{title}</neos:contentElement.editable>
        </h1>
        <div class="byline">
            by
            <span itemprop="author" itemscope="" itemtype="http://schema.org/Person"><span itemprop="name">{author}</span></span>
            on
            <time datetime="{f:format.date(date: datePublished, format: 'c')}" itemprop="datePublished">{f:format.date(date: datePublished, format: 'F jS, Y')}
            </time>
        </div>
        <br/>
    </header>
    <div itemprop="articleBody">
        <fusion:render path="main"/>
    </div>
</article>
