{namespace f=TYPO3Fluid\Fluid\ViewHelpers}
{namespace nf=Neos\FluidAdaptor\ViewHelpers}
{namespace neos=Neos\Neos\ViewHelpers}
{namespace fusion=Neos\Fusion\ViewHelpers}
<article itemscope="" itemtype="http://schema.org/Article" class="robertlemke-plugin-blog" xmlns:f="http://www.w3.org/1999/html">
    <nf:flashMessages class="flashmessages"/>
    <header>
        <h1 itemprop="name headline">
            <neos:contentElement.editable tag="span" property="title">{title}</neos:contentElement.editable>
        </h1>
        <div class="byline">
            by
            <span itemprop="author" itemscope="" itemtype="http://schema.org/Person"><span itemprop="name">{author}</span></span>
            on
            <time datetime="{nf:format.date(date: node.properties.datePublished, format: 'c')}" itemprop="datePublished">{nf:format.date(date: node.properties.datePublished, format: 'F jS, Y')}
            </time>
        </div>
        <br/>
    </header>
    <div itemprop="articleBody">
        <fusion:render path="main"/>
    </div>
    <hr/>
    <div id="comments" class="comments">
        <f:if condition="{numberOfComments}">
            <h3>
                <nf:translate package="RobertLemke.Plugin.Blog">Comments</nf:translate>
            </h3>
            <ol class="commentlist">
                <fusion:render path="comments"/>
            </ol>
            <div class="clear"></div>
        </f:if>
        <h3>
            <nf:translate package="RobertLemke.Plugin.Blog">Leave a reply</nf:translate>
        </h3>
        <f:render partial="FormErrors" arguments="{for: 'newComment'}"/>
        <nf:form action="create" controller="Comment" package="RobertLemke.Plugin.Blog" object="{newComment}" name="newComment" class="newcomment" id="newCommentForm">
            <nf:form.hidden name="postNode" value="{node.path}"/>
            <label for="comment.author">
                <f:format.raw>
                    <nf:translate package="RobertLemke.Plugin.Blog">Name <span class="required">*</span></nf:translate>
                </f:format.raw>
            </label>
            <nf:form.textfield id="comment.author" property="author"/>
            <label for="comment.emailaddress">
                <f:format.raw>
                    <nf:translate package="RobertLemke.Plugin.Blog">Email <span class="required">*</span> (won't be displayed)</nf:translate>
                </f:format.raw>
            </label>
            <nf:form.textfield id="comment.emailaddress" property="emailAddress"/>
            <nf:form.textarea id="comment.text" property="text" rows="10" cols="50"/>
            <button class="secondary button" type="submit">{nf:translate(value: 'Submit')}</button>
        </nf:form>
    </div>
</article>
