{namespace neos=Neos\Neos\ViewHelpers}
<f:if condition="{citeAuthor}">
    <p>
        <f:if condition="{citeAuthorUri}">
            <f:then>
                <cite><a href="{citeAuthorUri}">{citeAuthor}</a></cite> wrote
                <a href="{citeUri}">{f:if(condition: citeUriLabel, then: citeUriLabel, else: 'here')}</a>:
            </f:then>
            <f:else>
                <cite>{citeAuthor}</cite> wrote
                <a href="{citeUri}">{f:if(condition: citeUriLabel, then: citeUriLabel, else: 'here')}</a>:
            </f:else>
        </f:if>
    </p>
</f:if>
<blockquote {f:if(condition: citeUri, then: 'cite="{citeUri}"')}>
    <neos:contentElement.editable property="text">{text -> f:format.raw()}</neos:contentElement.editable>
</blockquote>
