{namespace neos=TYPO3\Neos\ViewHelpers}
<f:if condition="{node.properties.citeAuthor}">
	<p>
	<f:if condition="{node.properties.citeAuthorUri}">
		<f:then>
			<cite><a href="{node.properties.citeAuthorUri}">{node.properties.citeAuthor}</a></cite> wrote
			<a href="{node.properties.citeUri}">{f:if(condition: node.properties.citeUriLabel, then: node.properties.citeUriLabel, else: 'here')}</a>:
		</f:then>
		<f:else>
			<cite>{node.properties.citeAuthor}</cite> wrote
			<a href="{node.properties.citeUri}">{f:if(condition: node.properties.citeUriLabel, then: node.properties.citeUriLabel, else: 'here')}</a>:
		</f:else>
	</f:if>
	</p>
</f:if>
<blockquote {f:if(condition: node.properties.citeUri, then: 'cite="{node.properties.citeUri}"')}>
	<neos:contentElement.editable property="text">{text -> f:format.raw()}
	</neos:contentElement.editable>
</blockquote>
