#                                                                        #
# Default subroutes configuration for the Blog package                   #
#                                                                        #

-
  name: 'Comment actions'
  uriPattern:    '/posts/{post}/comments/{@action}'
  defaults:
    '@controller': 'Comment'
  routeParts:
    post:
      objectType: RobertLemke\Plugin\Blog\Domain\Model\Post
      uriPattern: '{date:Y}/{date:m}/{date:d}/{title}'

-
  name: 'Single Post Actions'
  uriPattern:    '/posts/{post}'
  defaults:
    '@controller': 'Post'
    '@action':     'show'
  routeParts:
    post:
      objectType: RobertLemke\Plugin\Blog\Domain\Model\Post
      uriPattern: '{date:Y}/{date:m}/{date:d}/{title}'

-
  name: 'Single Post Actions'
  uriPattern:    '/posts/{post}/{@action}'
  defaults:
    '@controller': 'Post'
    '@action':     'show'
  routeParts:
    post:
      objectType: RobertLemke\Plugin\Blog\Domain\Model\Post
      uriPattern: '{date:Y}/{date:m}/{date:d}/{title}'

-
  name: 'Posts of a specific category'
  uriPattern:    '/posts/category/{category}'
  defaults:
    '@controller': 'Post'
    '@action':     'index'
  routeParts:
    category:
      objectType: RobertLemke\Plugin\Blog\Domain\Model\Category

-
  name: 'Posts of a specific tag'
  uriPattern:    '/posts/tag/{tag}'
  defaults:
    '@controller': 'Post'
    '@action':     'index'
  routeParts:
   tag:
      objectType: RobertLemke\Plugin\Blog\Domain\Model\Tag
      uriPattern: '{name}'

-
  name: 'Posts Pagination'

  uriPattern:    '/posts/page/{--typo3-fluid-viewhelpers-widget-paginateviewhelper.currentPage}'
  defaults:
    '@controller': 'Post'
    '@action':     'index'
    '--typo3-fluid-viewhelpers-widget-paginateviewhelper':
      '@package':    ''
      '@controller': ''

-
  name: 'Posts Pagination - First page'
  uriPattern:    '/posts(.{@format})'
  defaults:
    '@controller': 'Post'
    '@action':     'index'

-
  name: 'General Posts Actions'
  uriPattern:    '/posts(/{@action})'
  defaults:
    '@controller': 'Post'
    '@action':     'index'

-
  name: 'Posts Feed'
  uriPattern:    '/feeds/posts.atom.xml'
  defaults:
    '@controller': 'Post'
    '@action':     'index'
    '@format':     'atom.xml'

-
  name: 'Single Category Actions'
  uriPattern:    '/categories/{category}/{@action}'
  defaults:
    '@controller': 'Category'
  routeParts:
    category:
      objectType: RobertLemke\Plugin\Blog\Domain\Model\Category

-
  name: 'General Category Actions'
  uriPattern:    '/categories(/{@action})'
  defaults:
    '@controller': 'Category'
    '@action':     'index'

-
  name: 'Account actions'
  uriPattern: '/admin/account(/{@action})'
  defaults:
    '@controller': 'Account'
    '@action':     'edit'

-
  name: 'Blog actions'
  uriPattern: '/admin/blog(/{@action})'
  defaults:
    '@controller': 'Blog'
    '@action':     'edit'

-
  name: 'Admin Overview'
  uriPattern: '/admin'
  defaults:
    '@controller': 'Admin'
    '@action':     'index'

-
  name: 'Setup'
  uriPattern: '/admin/setup(/{@action})'
  defaults:
    '@controller': 'Setup'
    '@action':     'index'

